.logo {
  font-family: var(--fontLogo);
  font-weight: var(--bold);
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}
.primary {
  color: var(--colorPrimary);
}
.secondary {
  color: var(--colorSecondary);
}
